<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Family Dental Care - Ratings and reviews
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you/dentist">Find a dentist</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you/dentist/results/n193ql">Search results</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p2/services-near-you/dentist/results/n193ql">Search results</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Ratings and reviews
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Family Dental Care
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/family-dental-care/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/family-dental-care/services/">Tresatments and services</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Ratings and reviews</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/family-dental-care/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>Ratings</h2>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Ratings</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Category</th>
              <th class="nhsuk-table__header" scope="col">Rating</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Appointments</td>
              <td class="nhsuk-table__cell"><span class="stars">★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dignity & Respect</td>
              <td class="nhsuk-table__cell "><span class="stars">★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Involvement in decisions</td>
              <td class="nhsuk-table__cell "><span class="stars">★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Information on treatment cost</td>
              <td class="nhsuk-table__cell "><span class="stars">★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Outcome of treatment</td>
              <td class="nhsuk-table__cell "><span class="stars">★</span></td>
            </tr>
          </tbody>
        </table>
      </div>


      <h2 class="nhsuk-u-margin-bottom-4">Reviews</h2>

      <hr style="clear: both;">

      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0" id="1"><b>My last visit from hell</b></p>
      <span class="starssmall">★★★</span>
      <p>by Anonymous <span class="nhsuk-body-s" style="display:inline">- Posted on 16 June 2018</span></p>
      <p>I had my tooth extracted and at the time i felt the dentist was literally climbing all over my face to get this tooth out. He was yanking and pulling so hard, he took the tooth out in pieces. When i got home, I could feel a lot of pain, on pulling my bottom lip back he had swollen up my inside mouth with the instruments and the amount of force he was using. The next day I had to call them so he could write me a prescription for antibiotics as I found it surprising that he didn't on the same day. I sent them pictures to show how bruised my inside mouth was, which was now turning yellow.</p>
      <p>It's now day three and my face is all swollen and my inside mouth is in so much pain. I really dont want to go back as my originally dentist only works two days and he is normally always pretty full. Yet I think if this pain n swelling lasts all weekend I'm going to have to go back. This dentist is friendly enough but unfortunately not experienced...he has made my mouth pain worse than before I had the tooth re</p>
      <p class="nhsuk-body-s">Visited June 2018</p>
      <p><a href="#">Report as unsuitable</a></p>
      <p class="nhsuk-body-s">Family Dental Care has not yet replied</p>
      <hr>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
