<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Rao Ms K - Ratings and reviews
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you/dentist">Find a dentist</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p2/services-near-you/dentist">Find a dentist</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Ratings and reviews
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Rao Ms K
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/rao-ms-k/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/rao-ms-k/services/">Tresatments and services</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Ratings and reviews</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/rao-ms-k/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>Ratings</h2>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Ratings</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Category</th>
              <th class="nhsuk-table__header" scope="col">Rating</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Appointments</td>
              <td class="nhsuk-table__cell"><span class="stars"></span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dignity & Respect</td>
              <td class="nhsuk-table__cell "><span class="stars"></span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Involvement in decisions</td>
              <td class="nhsuk-table__cell "><span class="stars"></span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Information on treatment cost</td>
              <td class="nhsuk-table__cell "><span class="stars"></span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Outcome of treatment</td>
              <td class="nhsuk-table__cell "><span class="stars"></span></td>
            </tr>
          </tbody>
        </table>
      </div>


      <h2 class="nhsuk-u-margin-bottom-4">Reviews</h2>

      <hr style="clear: both;">

      <p>No-one has reviewed Rao Ms K yet.</p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
