<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Nice Smile Dental - Ratings and reviews
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you/dentist">Find a dentist</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you/dentist/results/n193ql">Search results</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p2/services-near-you/dentist/results/n193ql">Search results</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Ratings and reviews
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            Nice Smile Dental
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/nice-smile-dental/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/nice-smile-dental/services/">Tresatments and services</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Ratings and reviews</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/nice-smile-dental/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>Ratings</h2>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Ratings</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Category</th>
              <th class="nhsuk-table__header" scope="col">Rating</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Appointments</td>
              <td class="nhsuk-table__cell"><span class="stars">★★★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dignity & Respect</td>
              <td class="nhsuk-table__cell "><span class="stars">★★★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Involvement in decisions</td>
              <td class="nhsuk-table__cell "><span class="stars">★★★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Information on treatment cost</td>
              <td class="nhsuk-table__cell "><span class="stars">★★★★</span></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Outcome of treatment</td>
              <td class="nhsuk-table__cell "><span class="stars">★★★★</span></td>
            </tr>
          </tbody>
        </table>
      </div>


      <h2 class="nhsuk-u-margin-bottom-4">Reviews</h2>

      <div class="nhsuk-body-m page">Page <b>1</b> of <b>2</b></div>
      <div class="nhsuk-body-m records">Displaying <b>1 - 5</b> of <b>7</b></div>

      <hr style="clear: both;">

      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0" id="1"><b>Terrible Dentits</b></p>
      <span class="starssmall">★</span>
      <p>by N19 <span class="nhsuk-body-s" style="display:inline">- Posted on 05 September 2019</span></p>
      <p>I had a filling done by this dentist that was so bad I had to have it repaired at a different practice. Foolishly I returned to Nice Smile today to have a cleaning which also was badly/partially carried out. When I complained the dentist just laughed at me and told me to book in again.This is the worst dentist with the worst manner I've ever experienced, and has left me feeling insulted and upset.</p>
      <p class="nhsuk-body-s">Visited September 2019</p>
      <p><a href="#">Report as unsuitable</a></p>
      <p class="nhsuk-body-s">Nice Smile Dental has not yet replied</p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0" id="2"><b>Much improved!!</b></p>
      <span class="starssmall">★★★★★</span>
      <p>by Anonymous <span class="nhsuk-body-s" style="display:inline">- Posted on 15 December 2017</span></p>
      <p>I am now very, very happy with this dentist practice since my last review, There have been great improvements with the commitment to their patients, and their dental advice is excellent.</p>
      <p class="nhsuk-body-s">Visited November 2017</p>
      <p><a href="#">Report as unsuitable</a></p>
      <p class="nhsuk-body-s">Nice Smile Dental has not yet replied</p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0" id="3"><b>More tretment</b></p>
      <span class="starssmall">★★★★</span>
      <p>by Anonymous <span class="nhsuk-body-s" style="display:inline">- Posted on 01 December 2017</span></p>
      <p>I have been coming to the practice since 1985, and so must be happy with it. It is certainly better than those I used before. The dentists have always been thoughtful and responsive.</p>
      <p class="nhsuk-body-s">Visited December 2017</p>
      <p><a href="#">Report as unsuitable</a></p>
      <p class="nhsuk-body-s">Nice Smile Dental has not yet replied</p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0" id="4"><b>first time for a denture</b></p>
      <span class="starssmall">★★★★★</span>
      <p>by Mouloud Boussoussa <span class="nhsuk-body-s" style="display:inline">- Posted on 30 November 2017</span></p>
      <p>i am a 65 years old ,I visited this dental practice for the first time for a denture , very happy with their service , very patient dentist .I strongly recommend it for everyone .</p>
      <p class="nhsuk-body-s">Visited October 2017</p>
      <p><a href="#">Report as unsuitable</a></p>
      <p class="nhsuk-body-s">Nice Smile Dental has not yet replied</p>
      <hr>
      <p class="nhsuk-body-l nhsuk-u-margin-bottom-0" id="5"><b>a huge recommendation especially for kids .</b></p>
      <span class="starssmall">★★★★★</span>
      <p>by nazim moussouni <span class="nhsuk-body-s" style="display:inline">- Posted on 30 November 2017</span></p>
      <p>I always have a trouble when I take my children to the dentist ,my main problem was that my 2 years old refuse to open his mouth ,a friend of mine recommend nice smile dentist ,so happy how friendly they are with the kids .100% recommended</p>
      <p class="nhsuk-body-s">Visited September 2017</p>
      <p><a href="#">Report as unsuitable</a></p>
      <p class="nhsuk-body-s">Nice Smile Dental has not yet replied</p>
      <hr>

      {% from 'pagination/macro.njk' import pagination %}

      {{ pagination({
        "nextUrl": "#",
        "nextPage": "Page 2"
      }) }}
      <hr>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
