// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

//Homepage specific styles
@import 'components/homepage';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////

// Variant for a promo with a transparent background
.nhsuk-promo--mute {
    .nhsuk-promo__link-wrapper {
      background-color: transparent;
      box-shadow: none;
  
      &:hover,
      &:focus {
        background-color: transparent;
        box-shadow: none;
        outline: nhsuk-spacing(1) solid $nhsuk-focus-color;
        outline-offset: nhsuk-spacing(1) + nhsuk-spacing(2);
      }
  
      .nhsuk-promo__content {
          padding: nhsuk-spacing(0);
      }
    }
  }

