<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-home-p2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find a health service prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p2/">Home</a></p>
  </div>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Services near you
      </h1>
            
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-20">
          <strong>Enter a town, city or postcode in England</strong>
        </label>
        <input class="nhsuk-input" id="input-width-20" name="test-width-20" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-with-hint-text">
          <strong>Enter a kind of service</strong>
        </label>
        <span class="nhsuk-hint" id="input-with-hint-text-hint">
          <p>For example, GP or A&E.</p>
        </span>
        <input class="nhsuk-input" id="input-with-hint-text" name="test-name-2" type="text" aria-describedby="input-with-hint-text-hint">
      </div>

      <button class="nhsuk-button" type="submit">
        Search
      </button>

      <p><a href="#">I don't know, I just need help</a>

    </div>
  </div>
{% endblock %}
