<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout-home-p2.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find a health service prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/">Home</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p2/">Home</a></p>
  </div>
</nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ checkboxes({
          "idPrefix": "nationality",
          "name": "nationality",
          "fieldset": {
            "legend": {
              "text": "What kind of service?",
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          "items": [
            {
              "value": "gp",
              "text": "GPs"
            },
            {
              "value": "dentist",
              "text": "Dentists"
            },
            {
              "value": "pharmacies",
              "text": "Pharmacies"
            },
            {
              "value": "sexual-health",
              "text": "Sexual health services"
            },
            {
              "value": "urgent",
              "text": "Urgent care services"
            },
            {
              "value": "a&e",
              "text": "A&E"
            },
            {
              "value": "other",
              "text": "Other NHS services"
            }
          ]
        }) }}

      <a href="#"><button class="nhsuk-button" type="submit">
        Continue
      </button></a>

    </div>
  </div>
{% endblock %}
