<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Dentists - NHS
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
<!-- More info and code for the breadcrumb can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/breadcrumbs -->
{% block beforeContent %}
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/home">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/nhs-services">NHS services</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/nhs-services">Back to NHS services</a></p>
    </div>
  </nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-u-margin-bottom-4">Dentists</h1>

      <p class="nhsuk-body-l nhsuk-u-margin-bottom-8">
        About NHS dental services, including how to find an NHS dentist and how much treatment costs. 
      </p>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    {{ promo({
      "href": "https://www.nhs.uk/service-search/Dentists/LocationSearch/3",
      "heading": "Find a dentist"
    }) }}

    <div class="nhsuk-promo nhsuk-promo--mute nhsuk-u-margin-top-8">
      <a class="nhsuk-promo__link-wrapper" href="#">
        <div class="nhsuk-promo__content">
          <h2 class="nhsuk-promo__heading">How to find an NHS dentist</h2>
          
            <p class="nhsuk-promo__description">Everyone should be able to access good-quality NHS dental services.</p>
          
        </div>
      </a>
    </div>      
        
    <div class="nhsuk-promo nhsuk-promo--mute">
      <a class="nhsuk-promo__link-wrapper" href="#">
        <div class="nhsuk-promo__content">
          <h2 class="nhsuk-promo__heading">What happens when you visit the dentist</h2>
          
            <p class="nhsuk-promo__description">What to expect when you see your dentist, including what your check-up will involve</p>
          
        </div>
      </a>
    </div>

    <div class="nhsuk-promo nhsuk-promo--mute nhsuk-u-margin-top-8">
      <a class="nhsuk-promo__link-wrapper" href="#">
        <div class="nhsuk-promo__content">
          <h2 class="nhsuk-promo__heading">Understanding NHS dental charges</h2>
          
            <p class="nhsuk-promo__description">Find out what you need to pay for your NHS dental treatment</p>
          
        </div>
      </a>
    </div>      
        
    <div class="nhsuk-promo nhsuk-promo--mute">
      <a class="nhsuk-promo__link-wrapper" href="#">
        <div class="nhsuk-promo__content">
          <h2 class="nhsuk-promo__heading">Dental treatment for people with special needs</h2>
          
            <p class="nhsuk-promo__description">Read about how people with special needs can access specialised dental services</p>
          
        </div>
      </a>
    </div>

    <div class="nhsuk-promo nhsuk-promo--mute">
      <a class="nhsuk-promo__link-wrapper" href="#">
        <div class="nhsuk-promo__content">
          <h2 class="nhsuk-promo__heading">What's available on the NHS?</h2>
          
            <p class="nhsuk-promo__description">Find out more about what dental services are available on the NHS</p>
          
        </div>
      </a>
    </div>
    











  </div>
{% endblock %}
