<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find a health service prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="#">Home</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p1/c/find-nhs-help">Find NHS help</a></li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p1/c/find-nhs-help">Find NHS help</a></p>
    </div>
  </nav>
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Get help with 'cough'
      </h1>

      <p>A cough will usually clear up on its own within 3 to 4 weeks.</p>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            How to treat yourself
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>There's usually no need to see a GP.</p>
          <p>You should:</p>
          <ul>
            <li>rest</li>
            <li>drink plenty of fluids</li>
          </ul>
          <p>You could also try:</p>
          <ul>
            <li>hot lemon and honey (not suitable for babies under 1 year old)</li>
            <li>a herbal medicine called pelargonium (suitable for people aged 12 or over)</li>
          </ul>
          <p>There's limited evidence to show these work.</p>
          <p><a href=#>How to make a hot lemon and honey drink</a></p>
          <p>Hot lemon with honey has a similar effect to cough medicines.</p>
        </div>
      </details>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8">Ways to get help</h2>

      <h3 class="nhsuk-heading-s nhsuk-u-margin-top-6">If it's not urgent</h3>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Get help from a pharmacy
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>You can ask a pharmacist about:</p>
          <ul>
            <li>cough syrup</li>
            <li>cough medicine (some cough medicines should not be given to children under 12)</li>
            <li>cough sweets</li>
          </ul>
          <p>These will not stop your cough, but will help you cough less.</p>
          <p>Decongestants and cough medicines containing codeine will not stop your cough.</p>

          <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Find a pharmacy</span>
              </a>
            </div>
          
        </div>
      </details>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Get help from a GP
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>See a GP if:</p>
          <ul>
            <li>you have had a cough for more than 3 weeks (persistent cough)</li>
            <li>your cough is very bad or quickly gets worse – for example, you have a hacking cough or cannot stop coughing</li>
            <li>you feel very unwell</li>
            <li>you have chest pain</li>
            <li>you're losing weight for no reason</li>
            <li>the side of your neck feels swollen and painful (swollen glands)</li>
            <li>you find it hard to breathe</li>
            <li>you have a weakened immune system – for example, because of chemotherapy or diabetes</li>
          </ul>
          <p><strong>See a GP urgently if you're coughing up blood.</strong></p>

          <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="#">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Find a GP</span>
              </a>
            </div>
          
        </div>
      </details>

      <h3 class="nhsuk-heading-s nhsuk-u-margin-top-6">If you think it’s urgent or you’re not sure</h3>

      <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
          <span class="nhsuk-details__summary-text">
            Get advice from 111
          </span>
        </summary>
        <div class="nhsuk-details__text">
          <p>To get help from NHS 111, you can:</p>
          <ul>
            <li>go to <a href=#>111.nhs.uk</a> (for people aged 5 and over only)</li>
            <li>call 111</li>
          </ul>
          <p>NHS 111 is available 24 hours a day, 7 days a week.</p>
          
        </div>
      </details>




    </div>
  </div>
{% endblock %}
