<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
  Find a health service prototypes
{% endblock %}

<!-- Breadcrumb goes inside the beforeContent block -->
{% block beforeContent %}
{% endblock %}

<!-- Your page content goes inside the content block -->
<!-- More info and code for the page layout can be found at https://beta.nhs.uk/service-manual/styles-components-patterns/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        Prototype 2
      </h1>
      
      <h2>WIP</h2>
      <ul>
        <li><a href="/p2/home">NHS.UK Home</a></li>
        <li>Services near you</li>
          <ul>
            <li><a href="/p2/services-near-you/index">Variation 1</a></li>
            <li><a href="/p2/services-near-you/index-2">Variation 2</a></li>
            <li><a href="/p2/services-near-you/index-8">Variation 8</a></li></li>
            <li><a href="/p2/services-near-you/index-9">Variation 9</a></li></li>
            <li><a href="/p2/services-near-you/index-10">Variation 10</a></li></li>
          </ul>
        <li>GP</li>
          <ul>
            <li><a href="/p2/services-near-you/gp/">Start page</a></li>
            <li><a href="/p2/services-near-you/gp/results">GP results page</a></li>
          </ul>
        <li>Dentist</a></li>
          <ul>
            <li><a href="/p2/services-near-you/dentist/">Start page</a></li>
            <li><a href="/p2/services-near-you/dentist/results">Dentist results page</a></li>
          </ul>
      </ul>


      <h2 class="nhsuk-u-margin-top-8">Parked for now</h2>
        <ul>
          <li><a href="/p2/services-near-you/index-3">Services near you, variation 3</a></li>
          <li><a href="/p2/services-near-you/index-4">Services near you, variation 4</a></li>
          <li><a href="/p2/services-near-you/index-5">Services near you, variation 5</a></li>
          <li><a href="/p2/services-near-you/index-6">Services near you, variation 6</a></li>
          <li><a href="/p2/services-near-you/index-7">Services near you, variation 7</a></li>
          <li><a href="/p2/services-near-you/gp/results/gp-se19-1b">GP results, variation 1b (link to Google Maps, different details)</li>
          <li><a href="/p2/services-near-you/gp/results/gp-se19-2">GP results, variation 2 (toggle map view + Google Maps API)</a></li>
          <li><a href="/p2/services-near-you/dentist/results/dentist-se19-2">Dentist results, variation 2 (toggle map view + Google Maps API)</li>
        </ul>

    </div>
  </div>
{% endblock %}
