<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Montreal Dental Care - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '/p3/services-near-you/',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/services-near-you">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/services-near-you/dentist">Find a dentist</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/services-near-you/dentist/results/ls74nb">Search results</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p3/services-near-you/dentist/results/ls74nb">Search results</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span>
            Montreal Dental Care
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p3/services-near-you/dentist/profiles/montreal-dc/services/">Treatment and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p3/services-near-you/dentist/profiles/montreal-dc/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p3/services-near-you/dentist/profiles/montreal-dc/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <h2>Contact us</h2>
      <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-8">
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-panel-group__item-nobottommargin">
          <div class="nhsuk-panel">
            <h3>Address</h3>
            <p>8 Montreal Avenue<br>
            Chapel Allerton<br>
            Leeds<br>
            West Yorkshire<br>
            LS7 4LF</p>
            <p><a href="https://www.google.com/maps/dir/Town+Street,+Leeds+LS7+4NB/Montreal+Dental+Care,+Montreal+Avenue,+Leeds/@53.827711,-1.5377006,17z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x48795beeef450875:0xa4fd1ee716c97110!2m2!1d-1.5367052!2d53.8287672!1m5!1m1!1s0x48795bee6e608841:0xa29f2bd8dafd5572!2m2!1d-1.534308!2d53.8265902!3e3">Get directions</a></p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Telephone</h3>
            <p><a href="">0113 2621663</a></p>
            <h3>Online</h3>
            <p class="nhsuk-u-margin-bottom-2"><a href="http://montrealdentalcare.uk/contact-us/">Visit website</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Taking on new NHS patients?</h2>
      <p>This practice has not provided information in the last 90 days.</p>
      <p class="nhsuk-body-s">Last updated on 09/02/2016</p>

      <h2>Opening times</h2>
      <p class="nhsuk-body-s">All opening times last updated on 06/03/2018</p>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Opening times</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Day</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Monday</td>
              <td class="nhsuk-table__cell ">08:30 - 12:45<br>14:00 - 17:15</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Tuesday</td>
              <td class="nhsuk-table__cell ">08:30 - 12:45<br>14:00 - 17:15</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wednesday</td>
              <td class="nhsuk-table__cell ">08:30 - 12:45<br>14:00 - 17:15</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday</td>
              <td class="nhsuk-table__cell ">08:30 - 12:45<br>14:00 - 17:15</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday</td>
              <td class="nhsuk-table__cell ">08:30 - 12:45<br>14:00 - 17:00</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Saturday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sunday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>

      <h2>Customer facilities</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Car parking</li>
      </ul>

      <h2>Accessibility</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Wheelchair access</li>
        <li>Disabled WC</li>
        <li>Step free access</li>
      </ul>
      <p class="nhsuk-body-s">Last updated on 09/01/2015</p>

      <h2>Dentists at this surgery</h2>
      <p>The General Dental Council (GDC) regulates UK dental professionals.</p>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Dentists at this surgery</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Details</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Mr Imad Al-Hussein</td>
              <td class="nhsuk-table__cell "><a href="#">Check registration</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Mr Mohammed Al-Khairulla</td>
              <td class="nhsuk-table__cell "><a href="#">Check registration</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Mrs Sumaya A Hussein Mahmood</td>
              <td class="nhsuk-table__cell "><a href="#">Check registration</a></td>
            </tr>
            <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Mr Kush Sikka</td>
                <td class="nhsuk-table__cell "><a href="#">Check registration</a></td>
            </tr>
            <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Miss Priyanka Anil Thakkar</td>
                <td class="nhsuk-table__cell "><a href="#">Check registration</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>What patients say</h2>
      <p>Latest reviews of this dental practice.</p>
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p3/services-near-you/dentist/profiles/montreal-dc/ratings-reviews/#1">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Just fabulous</h3>
          <p class="nhsuk-promo__description">Respectful, friendly and holistic care. Myself and my children moved to this surgery some years ago and the fantastic care has been consi...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">21 August 2019</p>
        </div>
        </a>
      </div>
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p3/services-near-you/dentist/profiles/montreal-dc/ratings-reviews/#2">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">lovely staff, very gentle with procedures and explanations.</h3>
          <p class="nhsuk-promo__description">The staff in this practice are wonderful. Very empathetic and gentle whether answering the phone or undertaking treatment. As a youngster...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">18 May 2018</p>
        </div>
        </a>
      </div>
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p3/services-near-you/dentist/profiles/montreal-dc/ratings-reviews/#3">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Fantastic as always</h3>
          <p class="nhsuk-promo__description">Been a patient here for several years now and I can honestly say that they have never disappointed me. Friendly and always accommodating,...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">15 May 2018</p>
        </div>
        </a>
      </div>
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p3/services-near-you/dentist/profiles/montreal-dc/ratings-reviews/#4">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Unprofessional reception staff</h3>
          <p class="nhsuk-promo__description">Every time I ring or go in to the practice, the reception staff are really quite rude and unprofessional. They are often on their phones ...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">14 February 2018</p>
        </div>
        </a>
      </div>
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p3/services-near-you/dentist/profiles/montreal-dc/ratings-reviews/#5">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Most wonderful dentist, gentle and patient as can be!</h3>
          <p class="nhsuk-promo__description">Due to the state of my teeth, I have had to visit many dentists over the years. I can say that my experience today was the most positive ...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">23 December 2017</p>
        </div>
        </a>
      </div>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="#">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
