<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  The Temple Practice (Leeds Dental Team Limited) - Services
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '#',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/services-near-you">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/services-near-you/dentist">Find a dentist</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p3/services-near-you/dentist/results/ls74nb">Search results</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p3/services-near-you/dentist/results/ls74nb">Search results</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Treatments and services
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span>
            The Temple Practice (Leeds Dental Team Limited)
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p3/services-near-you/dentist/profiles/temple-practice/overview/">Overview</a>
          </li>
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Treatments and services</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p3/services-near-you/dentist/profiles/temple-practice/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p3/services-near-you/dentist/profiles/temple-practice/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

      <h2>NHS treatments you can get at this dental surgery</h2>
      <p>The practice has not provided information about this.</p>
      <p class="nhsuk-body-s">Last updated on 07/01/2019</p>
      <p>For some treatments you may be referred to a specialist dental centre.</p>

      <p>Check-ups and advice are always available on the NHS.</p>
      <p>You can get other treatments on the NHS if your dentist says there’s a clinical need for them.</p>
      <p><a href="https://www.nhs.uk/live-well/healthy-body/dental-treatments/">Find out more about NHS dental treatments</a></p>

      <h2>NHS dental treatment costs</h2>
      <p>You generally have to pay for NHS dental care and treatment. How much you pay depends on what you’re having done.</p>
      <p>NHS dental care is free for children and for people on some benefits.</p>

      <div class="nhsuk-table-responsive">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">NHS dental charges</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Band</th>
                <th class="nhsuk-table__header" scope="col">Treatment</th>
                <th class="nhsuk-table__header" scope="col">Cost</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell" width="20%">Band A</td>
                <td class="nhsuk-table__cell ">Check-up, advice, polish, essential X-rays</td>
                <td class="nhsuk-table__cell ">£22.70</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Band B</td>
                <td class="nhsuk-table__cell ">Fillings, root canal, removing teeth</td>
                <td class="nhsuk-table__cell ">£62.10</td>
              </tr>
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">Band C</td>
                <td class="nhsuk-table__cell ">More complex treatments such as crowns and bridges</td>
                <td class="nhsuk-table__cell ">£269.30</td>
              </tr>
            </tbody>
          </table>
        </div>
      <p><a href="https://www.nhs.uk/using-the-nhs/nhs-services/dentists/understanding-nhs-dental-charges/">Find out more about dental costs</a></p>
      <p>You may be able to get <a href="https://www.nhs.uk/using-the-nhs/help-with-health-costs/get-help-with-dental-costs/">help with dental costs</a> if you need it.</p>
      <p>You should <a href="https://services.nhsbsa.nhs.uk/check-for-help-paying-nhs-costs/start">check what help you could get to pay for NHS costs.</a> This is because you may be fined up to £100 plus the cost of your treatment if you claim for free treatment you’re not entitled to.</p>
    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
