<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends "layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  H S Dhamu - Overview
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "true",
      "primaryLinks": [
        {
          "url"  : "#",
          "label" : "Health A-Z"
        },
        {
          'url' : '#',
          'label' : 'Live Well'
        },
        {
          'url'  : '#',
          'label' : 'Care and support'
        },
        {
          'url'  : '#',
          'label' : 'Health news'
        },
        {
          'url' : '/p2/services-near-you/',
          'label' : 'Services near you'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/">Home</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you">Services near you</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you/dentist">Find a dentist</a></li>
      <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/p2/services-near-you/dentist/results/n193ql">Search results</a></li>
    </ol>
    <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" href="/p2/services-near-you/dentist/results/n193ql">Search results</a></p>
  </div>
</nav>
{% endblock %}


{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        <span role="text">
          Overview
          <span class="nhsuk-page-heading__small">
            <span class="visually-hidden"> -</span> 
            H S Dhamu
          </span>
        </span>
      </h1>

      <nav class="nhsuk-contents-list nhsuk-u-margin-bottom-6" role="navigation" aria-label="Pages in this guide">
        <h2 class="nhsuk-u-visually-hidden">Contents</h2>
        <ol class="nhsuk-contents-list__list">
          <li class="nhsuk-contents-list__item" aria-current="page">
            <span class="nhsuk-contents-list__current">Overview</span>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/h-s-dhamu/services/">Treatment and services</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/h-s-dhamu/ratings-reviews/">Ratings and reviews</a>
          </li>
          <li class="nhsuk-contents-list__item">
            <a class="nhsuk-contents-list__link" href="/p2/services-near-you/dentist/profiles/h-s-dhamu/leave-review/">Leave a review</a>
          </li>
        </ol>
      </nav>

    </div>

  </div>


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
    <h2>Contact us</h2>
      <div class="nhsuk-grid-row nhsuk-panel-group nhsuk-u-margin-bottom-8">
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item nhsuk-panel-group__item-nobottommargin">
          <div class="nhsuk-panel">
            <h3>Address</h3>
            <p>Gentle Dental Care<br>
            506 Holloway Road<br>
            London<br>
            N7 6JD</p>
            <p><a href="https://www.google.com/maps/place/High+Ash+Dental+Surgery/@53.8559838,-1.5227178,17z/data=!3m1!4b1!4m5!3m4!1s0x48795bb36ba3cd97:0xcfabec92ccf9e9c4!8m2!3d53.8559838!4d-1.5205291">Get directions</a></p>
          </div>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-panel-group__item">
          <div class="nhsuk-panel">
            <h3>Telephone</h3>
            <p><a href="">0207 7000 666</a></p>
            <h3>Online</h3>
            <p><a href="mailto:gentledentalcare@hotmail.co.uk">Send email</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h2>Taking on new NHS patients</h2>
      <p>This practice has not provided information in the last 90 days.</p>
      <p class="nhsuk-body-s">Last updated on 07/01/2019</p>

      <h2>Opening times</h2>
      <p class="nhsuk-body-s">All opening times last updated on 02/01/2014</p>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Opening times</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Day</th>
              <th class="nhsuk-table__header" scope="col">Opening hours</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Monday</td>
              <td class="nhsuk-table__cell ">9am to 5.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Tuesday</td>
              <td class="nhsuk-table__cell ">9am to 5.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Wednesday</td>
              <td class="nhsuk-table__cell ">9am to 5.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Thursday</td>
              <td class="nhsuk-table__cell ">9am to 5.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Friday</td>
              <td class="nhsuk-table__cell ">9am to 5.30pm</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Saturday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Sunday</td>
              <td class="nhsuk-table__cell ">Closed</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Customer facilities</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Car parking</li>
      </ul>

      <h2>Accessibility</h2>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>Induction loop</li>
      </ul>
      <p class="nhsuk-body-s">Last updated on 08/09/2016</p>

      <h2>Dentists at this surgery</h2>
      <p>The General Dental Council (GDC) regulates UK dental professionals.</p>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Dentists at this surgery</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Details</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Simmi Bharadia</td>
              <td class="nhsuk-table__cell "><a href="#">Check registration</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dr Harpinder Singh Dhamu</td>
              <td class="nhsuk-table__cell "><a href="#">Check registration</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>What patients say</h2>
      <p>Latest reviews of this dental practice.</p>
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p2/services-near-you/dentist/profiles/h-s-dhamu/ratings-reviews/#1">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">teeth removed</h3>
          <p class="nhsuk-promo__description">Came in this morning and was ask to come back this afternoon to have treatment the staff was amazing. The service provided was exceptiona...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">8 January 2018</p>
        </div>
        </a>
      </div>
      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p2/services-near-you/dentist/profiles/h-s-dhamu/ratings-reviews/#2">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">My daughter's experience</h3>
          <p class="nhsuk-promo__description">I brought my daughter into gentle dental care, she was really scared after a bad experience at her previous dentist, but the dentist here...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">8 January 2018</p>
        </div>
        </a>
      </div>

      <div class="nhsuk-promo">
        <a class="nhsuk-promo__link-wrapper" href="/p2/services-near-you/dentist/profiles/h-s-dhamu/ratings-reviews/#3">
        <div class="nhsuk-promo__content">
          <h3 class="nhsuk-promo__heading">Terrible service at an unreliable practice</h3>
          <p class="nhsuk-promo__description">We booked at an appointment at this relatively newly opened practice for our two children thinking they were getting to an age where it w...</p>
          <p class="nhs-body-s nhsuk-promo__grey2">26 September 2017</p>
        </div>
        </a>
      </div>

      <p><a href="/p2/services-near-you/dentist/profiles/h-s-dhamu/ratings-reviews/">Read all 3 reviews</a></p>
      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="/dentists/leave-review">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">Leave a review</span>
        </a>
      </div>
      <hr>

      <p><a href="#">Report an issue with the information on this page</a></p>

    </div>

  </div>
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "NHS sites"
      },
      {
        "URL": "#",
        "label": "About us"
      },
      {
        "URL": "#",
        "label": "Contact us"
      },
      {
        "URL": "#",
        "label": "Sitemap"
      },
      {
        "URL": "#",
        "label": "Our policies"
      }
    ]
  })}}
{% endblock %}
